body{
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.header{
    width: 95% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row-reverse;
}

.footer{
    width: 100% !important;
    height: 100% !important;
}

.paddingMenu{
    padding: 8px;
    color: black;
    font-weight: bold;
    transition: color 0.5s;
}

.paddingMenu:hover{
    color: aquamarine;
}