body{
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f5efe0;
}

a{
    text-decoration: none;
}

.header{
    width: 95% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row-reverse;
}

.footer{
    width: 100% !important;
    height: 100% !important;
}

.paddingMenu{
    padding: 8px;
    color: black;
    font-weight: bold;
    transition: color 0.5s;
}

.paddingMenu:hover{
    color: aquamarine;
}

.about-me{
    font-family: NonBreakingSpaceOverride, "Hoefler Text", "Noto Serif", Garamond, "Times New Roman", serif;
    font-size: larger;
    letter-spacing: normal;
}